html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#header{
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 999;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

#header > p {
    font-size: 0.9em;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}

#camera{
    display: flex;
}